  body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
  }

#editor { 
    //position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 300;
    height: 100;
}